[Match]
Name=config-br0

[Network]
Address=172.27.1.1/24
Address=fd00:2760:f909:1::1/127
DHCPServer=yes

[DHCPServer]
ServerAddress=172.27.1.1/24
PoolOffset=128
PoolSize=32

